doctype html
head
	title ObeseFinns Admin
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='desctiption', content='')
	link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
	link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
	link(href='mainstyle.css', rel='stylesheet')

body
	.container-fluid
		.row
			.col-xs-12
				h1 Login
		.row
			.col-xs-12
				#login-form
					input#login-name.form-control(name='login-name', placeholder="Name", type="text", required='')
					input#login-password.form-control(name='login-password', placeholder="Password", type="password", required='')
		.row
			.col-xs-12
				button.btn.btn-lg#login Login