doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='desctiption', content='')
    title Obese Finns
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='mainstyle.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='animate.min.css')

  body(data-spy='scroll', data-target='.navbar', data-offset='400')
    .navbar-main
      .navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navigationmenu', aria-expanded='false')
              span.sr-only  Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='#headerwrap')
              img.navbar-brand(src='./img/obese_finns_icon.png', alt='logo')
              h3.pull-left Obese Finns
          #navigationmenu.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.smoothScroll(href='#headerwrap') Home
              li
                a.smoothScroll(href="#photos") Photos
              li
                a.smoothScroll(href='#about') About
              li
                a.smoothScroll(href='#team') Players
              li
                a.smoothScroll(href='#achievements') Achievements
              li
                a.smoothScroll(href='#contact') Contact
    section#headerwrap(name='home')
      header.clearfix.wow.zoomIn
        h2 Whiny ragers, anti-social geeks, gamers, master-baiters & hacers
        p Some are Obese; Some are Finns; Some are Both; Together we are
        h1 OBESE FINNS

    section#photos(name='photos')
      .container
        .row
          h2.centered Photos
          hr
          #photosCarousel.carousel.slide(data-ride="carousel")
            //Indicators
            ol.carousel-indicators
              li.active(data-target="#photosCarousel", data-slide-to="0")
              li(data-target="#photosCarousel", data-slide-to="1")
              li(data-target="#photosCarousel", data-slide-to="2")
              li(data-target="#photosCarousel", data-slide-to="3")

            //SLIDES
            .carousel-inner(role="listbox")
              .item.active
                img(src="./img/obesefinns_teamphoto512x256.png", alt="Team Photo")
                .carousel-caption
                  h3 Teamphoto
                  p Photo of the team back in 2013.
              .item
                img(src="./img/obesefinns_teamphoto2512x256.png", alt="Team Photo 2")
                .carousel-caption
                  h3 Teamphoto
                  p Photo from yesterday.
              .item
                img(src="./img/obesefinns_sticker512x256.png", alt="Obese Finns Sticker")
                .carousel-caption
                  h3 Sticker
                  p ESL One Katowice 2016 Major team sticker
              .item
                img(src="./img/obesefinns_katowicewin512x256.png", alt="Obese Finns Katowice 2016 Win")
                .carousel-caption
                  h3 Winnered
                  p After our ESL One Katowice 2016 win.
            a.left.carousel-control(href="#photosCarousel",role="button",data-slide="prev")
              span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
              span.sr-only Previous
            a.right.carousel-control(href="#photosCarousel",role="button",data-slide="next")
              span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
              span.sr-only Next


    section#about(name='about')
      .container
        .row.white.wow.bounceInLeft
          .col-md-6
            //img.img-responsive#logo(src='./img/obese_finns_logo.png', align='')
            img.img-responsive#logo(src='./img/logo_rounded.png', align='')
          .col-md-6
            h3 About Us
            p Bunch of faggots from Finland playing CS:GO
            h3 Why is this site here?
            p For no fucking reason, that's why.
    section#team(name='team')
      .container
        .row.centered
          h2.centered Meet our players
          hr
          .col-xs-12.col-sm-6.col-md-2.centered.wow.bounceInLeft.player
            img.img.img-circle.teamimage(src='./img/jarl500x500.jpg')
            h4 Jarl
            p MovieMaker3000
            <a href="http://steamcommunity.com/profiles/76561197964862179"><i class="fa fa-steam"></i></a>
            <a href="https://www.facebook.com/Zaarli"><i class="fa fa-facebook"></i></a>
          .col-xs-12.col-sm-6.col-md-2.wow.bounceInLeft.player
            img.img.img-circle.teamimage(src='./img/villu2500x500.png')
            h4 Villu
            p Rusher Homo
            <a href="http://steamcommunity.com/id/villu"><i class="fa fa-steam"></i></a>
            <a href="https://www.facebook.com/ville.piirainen.14"><i class="fa fa-facebook"></i></a>

          .col-xs-12.col-sm-6.col-md-2.wow.bounceInLeft.player
            img.img.img-circle.teamimage(src='./img/polar500x500.jpg')
            h4 Polar
            p Fancies polar bears
            <a href="http://steamcommunity.com/id/polarization"><i class="fa fa-steam"></i></a>
            <a href="https://www.facebook.com/jussipii"><i class="fa fa-facebook"></i></a>

          .col-xs-12.col-sm-6.col-md-2.wow.bounceInLeft.player
            img.img.img-circle.teamimage(src='./img/apina500x500.jpg')
            h4 Apina
            p Just Apina
            <a href="#"><i class="fa fa-steam"></i></a>
            //<a href=""><i class="fa fa-facebook"></i></a>
          .col-xs-12.col-sm-6.col-md-2.wow.bounceInLeft.player
            img.img.img-circle.teamimage(src='./img/viitanen500x500.png')
            h4 Viitanen
            p Fancies Polar
            <a href="http://steamcommunity.com/profiles/76561197985493624"><i class="fa fa-steam"></i></a>
            <a href="https://www.facebook.com/artosode"><i class="fa fa-facebook"></i></a>
          .col-xs-12.col-sm-6.col-md-2.wow.bounceInLeft.player
            img.img.img-circle.teamimage(src='./img/kitten500x500.jpg')
            h4 Kittenbbq
            p Angry bully kid :(
            <a href="http://steamcommunity.com/id/kittenbbq/"><i class="fa fa-steam"></i></a>
            <a href="https://www.facebook.com/Ron-Burgendy-131083037041083/timeline/"><i class="fa fa-facebook"></i></a>
    section#achievements(name='achievements')
      .container
        .row.centered
          h2.centered Achievements
          hr
          .col-md-4.centered.wow.zoomInLeft
            img(src='./img/faceit.png', alt='faceit')
            h3  Face It 
            p  Much Wins @ Faceit 
          .col-md-4.centered.wow.zoomInDown
            img(src='./img/csgo_global.png', alt='matchmaking wins')
            h3  Matchmaking
            p Much Wins @ MM also 
          .col-md-4.centered.wow.zoomInRight
            img(src='./img/katowice_trophy_small.png', alt='katowice trophy')
            h3  ESL Katowice 2016
            p  Winnered ESL Katowice 2016
    section#contactSection(name='contact')
      .container
        .row
          h2.centered Contact us
          hr
          .col-xs-4.centered
            a(href='mailto:obese.finns@obesesfinsnss.obfins')
              i.fa.fa-envelope.fa-3x
          .col-xs-4
            a(href='http://steamcommunity.com/groups/nadaeliminada')
              i.fa.fa-steam.fa-3x
          .col-xs-4
            a(href='http://www.twitter.com')
              i.fa.fa-twitter.fa-3x
        .row
          .col-lg-8.col-lg-offset-2.centered
            br
            br
            p Feel free to contact us to invite us to MAJOR tournaments or to give us free crap.
            #contact-guide
            #contact.form
              .row
                .col-xs-12.col-md-6.form-group
                  input#contact-name.form-control(name='name', placeholder='Name...', type='text', required='')
                .col-xs-12.col-md-6.form-group
                  input#contact-email.form-control(name='email', placeholder='Email', type='email', required='')
              .row
                .col-xs-12
                  textarea#contact-message.form-control(name='message', placeholder='Message...', rows='5')
              .row
                .col-xs-12.col-md-12
                  button.btn.btn.btn-lg#send-form(onclick="sendFormData()") Send Message             
    footer.footerwrap
      .container
        .row
          #copyright.col-md-8
            p
              i.fa.fa-copyright.fa-2x
              |  Arto Söderström 2015
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(type='text/javascript', src='smoothscroll.js')
  script(type='text/javascript', src='wow.min.js')
  script(type='text/javascript',src='mainjs.js')
  script(type='text/javascript',src='ion.sound.min.js')
  script.
    new WOW().init();
